global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s

scrape_configs:

- job_name: "node"
  scheme: http
  target_groups:
  - targets:
    - '{{ prometheus_server }}:9090'
{% for ip in hosts_to_monitor %} 
    - '{{ ip }}:9100'
{% endfor %}
